<header class="header">
    <div class="header-nav__back">
        <div class="header-nav">
            <ul class="header-nav__ul">
                <li class="header-nav__li about">
                    <button class="about-btn">Про нас</button>
                    <svg id="about-arrow__down" width="20" height="20">
                        <use href="./images/icons.svg#about-arrow_down"></use>
                    </svg>
                    <svg id="about-arrow__up" width="20" height="20">
                        <use href="./images/icons.svg#about-arrow_up"></use>
                    </svg>
                    <ul class="about__ul">
                        <li class="about__li">Наша команда</li>
                        <li class="about__li">Партнери</li>
                        <li class="about__li">Договір</li>
                    </ul>
                </li>
                <li class="header-nav__li"><a href="">Каталог продукції</a></li>
                <li class="header-nav__li"><a href="">Оплата і доставка</a></li>
                <li class="header-nav__li"><a href="">Партнери</a></li>
                <li class="header-nav__li"><a href="">Новини</a></li>
                <li class="header-nav__li"><a href="">Контакти</a></li>
            </ul>
            <span class="header-nav__line"></span>
            <div class="header-nav__log">
                <svg id="header-log_in" width="20" height="20">
                    <use href="./images/icons.svg#header-log_in"></use>
                </svg>
                <div class="header-nav__log__btns">
                    <button class="header-nav__log__btn-1">Вхід</button>
                    <span>|</span>
                    <button class="header-nav__log__btn-2">Реестрація</button>
                </div>
            </div>
        </div>
    </div>


    <div class="header-middle">
        <svg id="DAT-logo" width="158" height="71">
            <use href="./images/icons.svg#DAT-logo"></use>
        </svg>
        <ul class="header-middle__ul">
            <li class="header-middle__search">
                <label class="search-input" for="searchInput">
                    <input type="text" id="searchInput" placeholder="Пошук">
                    <span id="search-line"></span>
                    <svg id="magnifier-icon" width="15" height="15">
                        <use href="./images/icons.svg#magnifier-icon"></use>
                    </svg>
                </label>
            </li>
            <li class="phone-call">
                <svg id="phone-icon" width="40" height="40">
                    <use href="./images/icons.svg#phone-icon"></use>
                </svg>
                <div>
                    <ul class="phone-ul">
                        <li class="phone-li">
                            +38 (067) 115 00 58
                            <svg id="phone-arrow__down" width="10" height="10">
                                <use href="./images/icons.svg#phone-arrow__down"></use>
                            </svg>
                            <svg id="phone-arrow__up" width="10" height="10">
                                <use href="./images/icons.svg#phone-arrow__up"></use>
                            </svg>
                        </li>
                        <li>
                            <a class="phone-order" href="">Замовити зворотній зв’язок</a>
                        </li>
                    </ul>
                    <ul class="phone-ul__hide">
                        <li class="phone-li__hide">+38 (095) 115 00 58</li>
                        <li class="phone-li__hide">+38 (050) 115 00 58</li>
                    </ul>
                </div>
                <div class="phone-back">
                </div>
            </li>
            <li class="product-icons">
                <div class="product-icons__heart">
                    <svg class="product-icon" width="40" height="40">
                        <use href="./images/icons.svg#heart-icon"></use>
                    </svg>
                    <svg class="product-icon__hover" width="40" height="40">
                        <use href="./images/icons.svg#heart-icon__hover"></use>
                    </svg>
                    <div class="product-icons__count">0</div>
                </div>

                <div class="product-icons__scales">
                    <svg class="product-icon" width="40" height="40">
                        <use href="./images/icons.svg#scales-icon"></use>
                    </svg>
                    <svg class="product-icon__hover" width="40" height="40">
                        <use href="./images/icons.svg#scales-icon__hover"></use>
                    </svg>
                    <div class="product-icons__count">1</div>
                </div>

                <div class="product-icons__basket">
                    <svg class="product-icon" width="40" height="40">
                        <use href="./images/icons.svg#basket-icon"></use>
                    </svg>
                    <svg class="product-icon__hover" width="40" height="40">
                        <use href="./images/icons.svg#basket-icon__hover"></use>
                    </svg>
                    <div class="product-icons__count">1</div>
                    <span class="basket-price">0,0 грн</span>
                </div>
            </li>
        </ul>
    </div>

    <ul class="header-bar__ul">
        <li class="header-bar__li">
            <button class="header-bar__btn">
                <svg class="bar-icons" id="seeds-icon" width="24" height="24">
                    <use href="./images/icons.svg#seeds-icon"></use>
                </svg>
                <svg class="bar-icons__hover" id="seeds-icon__hover" width="24" height="24">
                    <use href="./images/icons.svg#seeds-icon__hover"></use>
                </svg>
                Насіння
            </button>
        </li>
        <li class="header-bar__li">
            <button class="header-bar__btn">
                <svg class="bar-icons" id="sapling-icon" width="24" height="24">
                    <use href="./images/icons.svg#sapling-icon"></use>
                </svg>
                <svg class="bar-icons__hover" id="sapling-icon__hover" width="24" height="24">
                    <use href="./images/icons.svg#sapling-icon__hover"></use>
                </svg>
                <span>Засоби захисту рослин</span>
            </button>
        </li>
        <li class="header-bar__li">
            <button class="header-bar__btn">
                <svg class="bar-icons" id="fertilizer-icon" width="24" height="24">
                    <use href="./images/icons.svg#fertilizer-icon"></use>
                </svg>
                <svg class="bar-icons__hover" id="fertilizer-icon__hover" width="24" height="24">
                    <use href="./images/icons.svg#fertilizer-icon__hover"></use>
                </svg>
                Добрива
            </button>
        </li>
        <li class="header-bar__li">
            <button class="header-bar__btn">
                <svg class="bar-icons" id="trees-icon" width="24" height="24">
                    <use href="./images/icons.svg#trees-icon"></use>
                </svg>
                <svg class="bar-icons__hover" id="trees-icon__hover" width="24" height="24">
                    <use href="./images/icons.svg#trees-icon__hover"></use>
                </svg>
                Кормова група
            </button>
        </li>
        <li class="header-bar__li">
            <button class="header-bar__btn">
                <svg class="bar-icons" id="farmer-icon" width="24" height="24">
                    <use href="./images/icons.svg#farmer-icon"></use>
                </svg>
                <svg class="bar-icons__hover" id="farmer-icon__hover" width="24" height="24">
                    <use href="./images/icons.svg#farmer-icon__hover"></use>
                </svg>
                Агроному в поміч
            </button>
        </li>
    </ul>

</header>